/*index 
1-heder




*/
/* global variable */



/* global properties */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}
:root{
    --main-color: #7b5244;
    --supcolor:#333;

}
.container{
    width: 80%;
    margin: auto;
}
.list-unstayled{
    list-style: none;
}
a{
    text-decoration: none;
}
.section-header{
    text-align: center;
    margin-bottom: 60px;
}
 .section-title{
    font-size: 30px;
}
 .section-header .line{
    width: 80px;
    height: 2px;
    background-color: var(--main-color);
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    transition: width 0.05;
}
 .section-header:hover  .line{
    width: 150px;
}

.pd-y{
    padding-top: 60px;
    padding-bottom: 60px;
}

/* 1-header */
header{
    padding: 30px 0;
}
header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-content img{
      flex: auto;
      max-width: 155px;
      margin-right: 15px;
}
header .header-content nav{
      flex: 3;
      text-align: center;
}
header .header-content .login{
   flex: 1;
   text-align: right;
}
header .header-content ul li{
    display: inline-block;
}
header .header-content ul li,
header .header-content ul li a{
    color: var(--supcolor);
}
/*header .header-content nav ul{
    display: flex;
    justify-content: space-between;
}*/
header .header-content nav ul li .link-item{
    padding: 10px 22px;
    display: block;
    font-weight: bold;
    position: relative;
}
header .header-content nav ul li .link-item::before{
    position: absolute;
    content: "";
    border-width: 0 2px;
    border-color: var(--main-color);
    border-style: solid;
    width: 96%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale3d(1,0,1);
    transition: transform 0.3s;
    transition-delay: 0.2s;
    transform-origin:left ;
}
header .header-content nav ul li .link-item:hover::before{
 transform: scale3d(1,1,1);
}
header .header-content nav ul li .link-item::after{
    position: absolute;
    content: "";
    border-width: 2px 0;
    border-color: var(--main-color);
    border-style: solid;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    transform: scale3d(0,1,1);
    transition: transform 0.3s;
    transition-delay: 0.2s;
    transform-origin:left ;
}
header .header-content nav ul li .link-item:hover::after{
    transform: scale3d(1,1,1);
   }
header .header-content .login ul li{
    padding: 10px;
    font-weight: bold;
}
header .header-content .login ul li:last-child i{
    position: relative;
    margin-right: 15px;
}
header .header-content .login ul li:last-child i::after{
    position: absolute;
    content: "0";
    width: 10px;
    height: 10px;
    background: var(--main-color);
    color: #fff;
    bottom: 0;
    right: -10px;
    border-radius: 50%;
    padding: 4px;
    font-size: 13px;

}

/* dropdown list */
.dropdown{
    position: relative;
}
.dropdown-menu,.dropdown-menu2{
    position: absolute;
    background-color: white;
    border: 2px solid var(--main-color);
    padding: 5px;
    margin-top: 10px;
    transform: scale(0);
    visibility: hidden;
    transition: transform 0.5s ,visibility 0.5s;
    transform-origin: left;
    z-index: 1;
}
.dropdown-menu{
    width: 430px;
}
.dropdown2 .dropdown-menu2{
    width: 150px;
}
.dropdown:hover .dropdown-menu,.dropdown2:hover .dropdown-menu2{
    transform: scale(1);
    visibility: visible;
}


.dropdown-menu ul{
    display: table-cell;
    text-align: left;
}
.dropdown-menu ul li:first-child a,.dropdown-menu2 ul li:first-child a{
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px dotted var(--main-color);
}
.dropdown-menu ul li,.dropdown-menu2 ul li{
    line-height: 1.7;
}

/* slider */
.slider .slider-content{
    position: relative;
}
.slider .slider-content img{
    width: 100%;
    cursor: pointer;  
}
.slider .slider-content .bolits1,.slider .slider-content .bolits{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 5%;
    transform: scale(0,0);
    transition:transform 0.5s;
    position: absolute;
}
.slider .slider-content .bolits{
    background-color:cornsilk;
    left: 52%;
}
.slider .slider-content:hover .bolits{
    transform: scale(1,1);
}
.slider .slider-content .bolits1{
    background-color:black;
    left: 50%;
}
.slider .slider-content:hover .bolits1{
    transform: scale(1,1);
}

/* category */
.category-items{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-gap: 10px;
}
.category-items img{
   width: 100%;
}
.category-item .category-item-suptitle{
    color: grey;
    font-weight: 600;
    margin-bottom: 10px;
}

.category-item{
    position: relative;
}
.category-item  .icon{
    width: 30px;
    height: 30px;
    background: var(--main-color);
    color: white;
    text-align: center;
    display: block;
    line-height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s opacity 0.5s;
}
.category-item:hover .icon{
    visibility: visible;
    opacity: 1;
}
.bolits-cat{
    position: relative;
    margin-top: 40px;
    height: 20px;
}
.category .bolits-cat .bolits4,.category .bolits-cat .bolits3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 1%;
    transform: scale(0,0);
    transition:transform 0.5s ,width 0.2s, height 0.02s;
    position: absolute;
    z-index: 10;
}
.category .bolits-cat .bolits3{
    background-color:tomato;
    left: 52%;
}
.category .bolits-cat:hover .bolits3{
    transform: scale(1,1);
}
.category .bolits3:hover{
    width: 15px;
    height: 15px;
}
.category .bolits-cat .bolits4{
    background-color:black;
    left: 50%;
}
.category .bolits4:hover{
    width: 15px;
    height: 15px;
}
.category .bolits-cat:hover .bolits4{
    transform: scale(1,1);
}


/* disecount */
.discount{
    display: flex;

}
.discount-desc{
   flex: 2 ;
   background: #f7f3ef;
   padding: 20px;
   position: relative;

}
.discount-desc .top{
    position: relative;
    padding-left: 60px;
    margin-bottom: 20px;
}
.discount-desc .top i{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 40px;
    padding:-10px ;
    color: var(--main-color);
}
.discount-desc .top + p{
    line-height: 1.7;  
}
 .bolits{
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
 .bolits span{
    display: inline-block;
    width: 50px;
    height: 2px;
    background: var(--main-color);
    margin-left: 10px;
}
.descount-item{
flex: 1;
position: relative;
transition: transform 0.5s ;
}
.descount-item img{
    width: 100%;
    position: relative;
}
.descount-item .item-info{
    position: absolute;
    top: 20px;
    left: 15px;
}
.descount-item .item-info h3{
    font-weight: normal;
    color: var(--main-color);
}
.descount-item .item-info h2{
    font-size: 20px ;
}
.descount-item:nth-child(2){
    margin: 0 20px;
}

.descount-item:hover{
    transform: scale(1.1);
}

/* sprite section */
.sprites{
    display: flex;
    margin-bottom: 55px;

}
.sprites .sprite-item{
    flex: 1;
    margin-left: 20px;
    text-align: center;
    padding: 10px;
}
.sprite-item:not(:last-child){
    border-right: 1px solid var(--main-color);
}
.sprite-icon{
    background-image: url(../images/service-icon.png);
    height: 50px;
    background-repeat: no-repeat;
}
.sprite-icon1 {
    background-position:center 5px ;
}
.sprite-item:hover .sprite-icon1{
    background-position:center -86px ;
    transition: 0.5s;
} 
.sprite-icon2 {
    background-position:center -180px ;
    transition: 0.5s;
}
.sprite-item:hover .sprite-icon2{
    background-position:center -273px ;
} 
.sprite-icon3 {
    background-position:center -366px ;
    transition: 0.5s;
}
.sprite-item:hover .sprite-icon3{
    background-position:center -455px ;
} 
.sprite-icon4 {
    background-position:center -549px ;
    transition: 0.5s;
}
.sprite-item:hover .sprite-icon4{
    background-position:center -639px ;
} 
.sprite-icon5 {
    background-position:center -734px ;
    transition: 0.5s;
}
.sprite-item:hover .sprite-icon5{
    background-position:center -825px;
} 
.sprites .sprite-item h3{
    font-size: 17px;
}
.sprites .sprite-info span{
    color: gray;
}

/* prouducts SECTION */
.products-item{
   /* display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 20px;*/
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.product-item{
    flex: 1;
}
.product-item.mg{
    margin: 0 15px;
}
.product .list-product {
    display: flex;
    justify-content: center;
}
.product .list-product li a{
    padding-left: 20px;
    color: var(--supcolor);
    font-size: 20px;
    font-weight: 700;
}

.product .product-image{
    position: relative;
}

.product .product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    transform: scalex(0);
    transition: 0.2s ;
    opacity: 0.9;
}

.product-item:hover  .product-overlay {
    transform: scalex(1);
}

.product .product-overlay .list-unstayled{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.product .product-overlay .list-unstayled li {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0, 0, 0.7);
}

.product .product-overlay .list-unstayled li i{
    color: white;
    line-height: 40px;
}

.product .product-info i.active{
    color: yellow;
}

.product .product-info span{
    display: block;
    font-weight: 500;
    color: var(--supcolor);
    margin-top: 5px;
    margin-bottom: 5px;
}


/* ./info-section */
.info .info-content{
    display:grid;
    grid-template-columns: 35% 1fr;
}
.info .info-content .info-item1{
    margin-right: 40px;
}
.info .info-content .info-item1 .hamza{
    width: 100%;
    height: 100%;
}
.info .info-content .info-item2{
 position: relative;
 background-color: rgb(245, 237, 237);
 padding: 30px;
}
.info-item2 .info-item2-head{
    padding-left: 80px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.info-item2 .title{
    position: absolute;
    top: 10px;
    color: var(--main-color);
}
.info-item2 p{
    line-height: 1.7;
}

.info  .info-item1{
    position: relative;
}
.info  .info-item1 .ali {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}


/*client section */
.client-content{
    display: flex;
    justify-content: space-between;
   margin: 0 50px;
   margin-bottom: 20px;
}

/*footer */
.footer{
    background-color: black;
    height: 500px;
}
.footer-item{
    text-align: left;
    margin-right: 80px;
    margin-bottom: 90px;
}
.footer-item .lorim{
    color: white;
    line-height: 1.7;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.footer-content{
    display: grid;
    grid-template-columns:40% 20% 20% 20%;
}
.footer-item h1{
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
}
.footer-item ul li{
    margin-bottom: 20px;
}
.footer-item ul li a{
    color: var(--supcolor);
    font-weight: 800;
}
.footer-content hr{
    border: 1px solid white;
}
.pfooter p{
    color: white;
    margin-top: 15px;
    padding-left: 20px;
    margin-left: 50px;
    display: block;
}